@model WebAppTattoo.Models.Tattoo

@{
    ViewData["Title"] = "Excluir sessao";
}

<h1>Excluir sessao</h1>

<h3>Tem certeza que deseja excluir esta sessao?</h3>
<div>
    <h4>@Model.Client?.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SessionDate)</dt>
        <dd class="col-sm-9">@Model.SessionDate.ToShortDateString()</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PostScript)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PostScript)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PaymentMethod)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PaymentMethod)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ValuePaid)</dt>
        <dd class="col-sm-9">@Model.ValuePaid.ToString("C")</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
    </form>
</div>
